
@using Microsoft.AspNetCore.Components.Web
@using CreditReportApp.Models

@code {
    [Parameter]
    public CreditRow CreditRow 
    { 
        get; 
        set; 
    } = default!;

    [Parameter]
    public EventCallback<CreditRow> OnRowSelected 
    { 
        get; 
        set; 
    }

    [Parameter]
    public EventCallback<CreditRow> OnViewDetails 
    { 
        get; 
        set; 
    }

    private async Task ViewDetails()
    {
        await OnViewDetails.InvokeAsync(CreditRow);
    }
}


<script>
    function selectRow(row) {        
        var rows = document.getElementById("TableCtl").rows;
        for (var i = 0; i < rows.length; i++) {
            rows[i].classList.remove("selected");
        }        
        row.classList.add("selected");
    }
</script>

<tr class="table-row" onclick="selectRow(this)">
    <td>@CreditRow.Id</td>
    <td>@CreditRow.FirstName</td>
    <td>@CreditRow.LastName</td>
    <td>@CreditRow.CreditAgency</td>
    <td>@CreditRow.CreditScore</td>
    <td>
        <button class="btn btn-primary" @onclick="(() => ViewDetails())">View Details</button>
    </td>
</tr>

