<script>

</script>

<tr class="table-row" onclick="selectRow(this)" id="@CreditRow.LastName + @CreditRow.Id">
    <td>@CreditRow.Id</td>
    <td>@CreditRow.FirstName</td>
    <td>@CreditRow.LastName</td>
    <td>@CreditRow.CreditAgency</td>
    <td>@CreditRow.CreditScore</td>
    <td>
        <button class="btn btn-primary" @onclick="(() => ViewDetails())">View Details</button>
    </td>
    <td>
        <button class="btn btn-primary" @onclick="(() => ViewDetailsPage(CreditRow.Id))"  @onclick:stopPropagation="true" onmousedown="selectRowFromButtonClick(this)">View Details Page</button>
    </td>
</tr>

@using Microsoft.AspNetCore.Components.Web
@using CreditReportApp.Models

@inject NavigationManager NavigationManager

@code {
    [Parameter]
    public CreditRow CreditRow 
    { 
        get; 
        set; 
    } = default!;

    [Parameter] 
    public bool IsSelected 
    { 
        get; 
        set; 
    }

    [Parameter]
    public EventCallback<CreditRow> OnRowSelected 
    { 
        get; 
        set; 
    }

    [Parameter]
    public EventCallback<CreditRow> OnViewDetails 
    { 
        get; 
        set; 
    }

    [Parameter]
    public EventCallback<CreditRow> OnViewDetailsPage
    {
        get;
        set;
    }

    private string GetRowClass()
    {
        return IsSelected ? "selected" : "";
    }

    private async Task ViewDetails()
    {
        await OnViewDetails.InvokeAsync(CreditRow);
    }

    private void ViewDetailsPage(int id)
    {               
        NavigationManager.NavigateTo("/detailsview/" + id);
    }
}



